{% extends 'base.html.twig' %}

{% block title %}Hello World{% endblock %}

{% block body %}
<div><button type="submit" class="btn btn-warning"><a href="{{path('inscription')}}">Inscription</a></button></div> 
{% endblock %}
